#
# phpBB Style Configuration File
#
# This file is part of the phpBB Forum Software package.
#
# @copyright (c) phpBB Limited <https://www.phpbb.com>
# @license GNU General Public License, version 2 (GPL-2.0)
#

# General Information
name = PromptFeed Coffee
copyright = © phpBB Limited, 2007. PromptFeed Theme by Custom
style_version = 1.0.0
phpbb_version = 3.3.0

# Defining a different template bitfield
# template_bitfield = //+Z
# You have to uncomment both cases to assign an individual bitfield,
# alternatively uncomment only the first one to use the default

# Parent style
# Set the value to "prosilver" to use the prosilver as parent.
parent = prosilver
